    <div class="container-a">
        <div class="margin">
            <p class="aa-">Professionals focused on helpingyour<br/>brand grow and move forward</p>
            <h1 class="bb-style">Designing a Better World <span class="span-s">Today</span></h1>
        <div class="a-to-a">
            <p class= "p_11">
            I'm a passionate UI/UX designer with a
            mission to create delightful and intuitive digital experiences.
            With a strong foundation in design principles and a keen eye for
            detail, I specialize in translating complex ideas into
            user-friendly interfaces that captivate and engage.
            </p>
        </div>
        <button class="btn_1">Get Started</button>
        </div>
</div>