<div class="color-1">
      <div class="box">
        <h2 class="h-2">CONTENT MARKETING<h2>
        <h1 class="h-1">Weaving Magic into Your Business</h1>

        <div class="box-2">
          <div class="box-3">
            <div class= "agenty_1">
              <h4 class="agen-1">Creative Agency</h4>
            </div>
            <h4 class= "agn_1">Framer Designer & Developer </h4>
            <h4 class= "agn_1">2019 - Present </h4>
            <p class= "p-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed thisnquia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
            <p class= "p-p1">Read more </p>
            <div class="hr-1">
            <div class="gr-1"></div>
          </div>
        </div>

          <div class="box-3">
            <div class= "agenty_1">
              <h4 class="agen-1">Creative Agency</h4>
            </div>
            <h4 class= "agn_1">Framer Designer & Developer </h4>
            <h4 class= "agn_1">2019 - Present </h4>
            <p class= "p-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed thisnquia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
            <p class= "p-p1">Read more </p>
            <div class="hr-1">
            <div class="gr-1"></div>
            </div>
          </div>
      </div>
</div>
