<div class="color-1">
      <div class="box">
        <h2 class="h-2">Creative Designing<h2>
        <h1 class="h-1">Our Creative for the Creative World</h1>
        <div class="pro-box">
        <% @posts.each do |post| %>
            <div class="post">
                <% if post.image.attached? %>
                <%= image_tag url_for(post.image), class: "post-img"%>
            <% end %> 
                <h3 class="h-3"><%= post.title %></h3>
                <p class="post-p"><%= post.description %></p>
            </div>
            <% end%>
            
        </div>
      </div>
</div>


