<div class="color-1">
      <div class="box">
        <h2 class="h-2">Creative Designing<h2>
        <h1 class="h-1">Our Creative for the Creative World</h1>
        <div class="pro-box">
            <div class="post">
                <div class="post-img">
                    <img src="assets/download (1).jpeg" class="post-img">
                </div>
                <h3 class="h-3">Where Passion and Purpose Collide</h3>
                <p class="post-p">Amazon.com, Inc., doing business as Amazon, is an American
                 multinational technology company, engaged in 
                 e-commerce, cloud computing, online advertising,</p>
            </div>
            <div class="post">
                <div class="post-img">
                <img src="assets/download.jpeg" class="post-img">
                </div>
                <h3 class="h-3">Where Passion and Purpose Collide</h3>
                <p class="post-p">Amazon.com, Inc., doing business as Amazon, is an American
                 multinational technology company, engaged in 
                 e-commerce, cloud computing, online advertising,</p>
            </div>
            <div class="post">
                <div class="post-img">
                <img src="assets/images.jpeg" class="post-img">
                </div>
                <h3 class="h-3">Where Passion and Purpose Collide</h3>
                <p class="post-p">Amazon.com, Inc., doing business as Amazon, is an American
                 multinational technology company, engaged in 
                 e-commerce, cloud computing, online advertising,</p>
            </div>
        </div>
      </div>
</div>