
.color-1{
    background: #000000;
    width: 1510px;
    height: 100%;
    margin-left: 330px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}
.container-a{
    width: 100%;
    background: var(--color-b);
    overflow: hidden;
    padding-bottom: 28.5vh;
}
.b-container::-webkit-scrollbar{
    display: none;

}
.img-size-2{
    width: 30vw;
    height: 30vw;
    margin-top: -10vw;
    margin-left:60vw;
    position: fixed;
}
.responsive-1{
    display: none;
}

.aa-{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-top: 10vw;
    margin-left: 25vw;
    width: 365px;
    height: 55px;
    top: 224.5px;
    left: 443px;
    gap: 0px;
    opacity: 0px;
}
.bb-style{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-a);
    width: 40vw;
    height: 10vw;
    margin-left: 10vw;
    margin-top: 1vh;
}
.span-s{
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--color-c);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.a-to-a{
    width: 30vw;
    height: 10vw;
    margin-left: 10vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-f);
}
.p_11{
    font-size: 22px;
}
.btn_1{
    width: 10vw;
    height: 3vw;
    margin-top: 2vw;
    margin-left: 10vw;
    border-radius: 80px;
    color: var(--color-b);
    background: var(--color-c);
    border: none;
}
:root{
    --color-a: #FFFFFF;
    --color-b: #000000;
    --color-c: #2D9352;
    --color-d: #1A1A1A;
    --color-e: #151C25;
    --color-f: #A2A2A2;

}

.color-r{
    color: (--color-c);
}
.color-b{
    width: 3vw;
    height: 3.4vw;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius:5px;
}
button{
    background: none;
    border: none;
}
.margin{
    height: 100vw;
    margin-left: 20vw;
}
.lli-1 {
    width: 4.5vw;
    height: 0.9vw;
    margin-top: 2.5vh;
    margin-left: 2vw;
    font-size: 14px;
    font-weight: 370;
    line-height: 12px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.ill-1{
    width: 12vw;
    height: 3.5vw;
    list-style: none; 
    display: flex;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid gray;
    color: #2D9352;
}
.bi-1{
    font-size:28px;
    color: #2D9352;
}

.sidebar-container{
    width: 18.2vw;
    height: 100%;
    padding: 0px, 2px, 236px, 0px;
    border: 0px, 2px, 0px, 0px;
    background:#1A1A1A;
    position: fixed;
    position: absolute;
}

.log h1{
    margin-top: 1vw;
    margin-left: 2vw;
    color: var(--color-f);
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}
.nav-1{
    margin-top: 5vw;
}
.A-t{
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}


.btn-1{
    background: none;
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.btn-1:hover{
    background: none;
    border: 2px solid #1A1A1A;
    color: var(--color-c);
}
.ms-1 d-none d-sm-inline{
    width: 248px;
    height: 704px;
    top: 140px;
    padding: 30px 30px 122px 30px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;   
}
.h{
    margin-left: 20vw;
}
.color{
    background: #000000;
    width: 1510px;
    height: 108%;
    margin-left: 330px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}
.box{
    width: 1288px;
    height: 750px;
    margin-top: 124px;
    margin-left: 130px;
    gap: 0px;
    opacity: 0px;
}
.h-2{
    width: 300px;
    height: 24px;
    margin-left: 500px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: center;
    color: #2D9352;
}

.h-1{
    width: 728px;
    height: 130px;
    margin-top: 50px;
    margin-left: 296px;
    gap: 0px;
    opacity: 0px;
    font-family: ui-sans-serif;
    font-size: 67px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}
.pro-box{
    width: 1288px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5vw;
}
.post{
    width: 440px;
    height: 450px;
}
.post-img{
    width: 416px;
    height: 300px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}
.h-3{
    width: 400px;
    height: 26px;
    margin-left: 8.33px;
    margin-top: 10px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}
.post-p{
    width: 394.21px;
    height: 100px;
    margin-left: 8.33px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #A2A2A2;
}
.H-2{
    height: 24px;
    margin-left: 232px;
    gap: 0px;
    opacity: 0px;
    width: 856px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: #2D9352;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: center;
    margin-top: 100px;
}
.mar-1{
    width: 518px;
    height: 130px;
    top: 59px;
    left: 385px;
    gap: 0px;
    opacity: 0px;
}
.h--1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}
.box-2{
    width: 1288px;
    height: 832px;
    margin-top: 50px;
    display: flex;
}
.box-3{
    width: 583px;
    border: 1px solid grey;
    height: 377px;
    margin-left: 50px;

}
.box-4{
    width: 583px;
    height: 377px;
    border: 1px solid grey;
}
.cont-h{
    width: 16vw;
    height: 3vw;
    margin-left: 24.5vw;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-f);
}
.cont-input{
    width: 34.3vw;
    height: 3vw;
    margin-top: 10.8vh;
    margin-left: 1vw;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-input-1{
    width: 34.3vw;
    height: 3vw;
    margin-top: 10.8vh;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}

.cont-form{
    width: 70vw;
    height: 30vw;
    margin-top: 6vw;
    margin-left: 5vw;
    border-radius: 5px;
}
.cont-input-2{
    width: 70vw;
    height: 3vw;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-d);
    background: none;
    color: var(--color-f);
}
.cont-text{
    width: 70vw;
    height: 10vw;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #1A1A1A;
    background: none;
    color: var(--color-f);
}
.cont-btn{
    width: 10.4vw;
    height: 3vw;
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 5px;
    background: var(--color-c);
    cursor: pointer;
    transition: filter 0.3s ease 0.3s;
}
.cont-btn:hover{
    background: none;
    border: 2px solid var(--color-c);
    color: var(--color-c);
}
.cont-copy{
    width: 70vw;
    margin-top: 120px;
    border-top: 1px solid #1A1A1A; 
    margin-left: 10vw;
    width: 1200px;
}
.cont-copy-p{
    width: 16.1vw;
    height: 3vw;
    margin-top: 4vh;
    opacity: 0.5px;
}
.b-container{
    margin-top: 100px;
    width: 100%;
}
.agenty_1{
    width: 230px;
    height: 45px;
    border-bottom: 2px solid #2D9352;
    margin-left: 25px;

}
.agen-1{
    margin-top: 22px;
    color: #FFFFFF;
}
.agn_1{
    margin-top: 20px;
    margin-left: 25px;
    color: #FFFFFF;
}
.p-p{
    color: #A2A2A2;
    font-size: 18px;
    width: 543px;
    margin-left: 20px;
}
.p-p1{
    margin-left: 25px;
    color: #2D9352;
    font-size: 18px;
}
.hr-1{
    margin-top: 20px;
    background-color: #A2A2A2;
    width: 535px;
    height: 4px;
    margin-left: 25px;
}
.gr-1{
    width: 435px;
    height: 4px;
    background-color:#2D9352;
}
.color{
    background-color: #2D9352;
}

@media  screen and (max-width: 425px){

    .sidebar-container{
        display: none;
    }
    .responsive-1{
        display: block;
        width: 100vw;
        margin-left: -78vw;
    }
    .navbar{
        width: 100vw !important;
    }
    .navbar-collapse{
        margin-top: 50vw !important;
    }
    .container-a{
        width: 100%;
        height: 150vw;
        background: var(--color-b);
        padding-bottom: 28vh;
    }
    .margin{
        height: 30vw;
        width: 150vw;
        margin-left: -5vw;
    }
    
    
    .aa-{
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        margin-top: 12vw;
        margin-left: 35vw;
        width: 50vw;
        height: 15vw;
        opacity: 0px;
    }
    .bb-style{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.1em;
        text-align: left;
        color: var(--color-a);
        width: 80vw;
        height: 20vw;
        margin-left: 10vw;
        margin-top: 1vh;
    }
    .span-s{
        font-size: 30px;
        font-weight: 400;
        line-height: 0.1;
        letter-spacing: 0.1em;
        color: var(--color-c);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .p_11{
        font-size: 18px;
        width: 70vw;
        height: 70vw;

    }
    .btn_1{
        width: 35vw;
        height: 10vw;
        margin-top: 70vw;
        margin-left: 10vw;
        border-radius: 80px;
        color: var(--color-b);
        background: var(--color-c);
        border: none;
    }
    .container-a{
        max-height:fit-content;
        width: 100vw;
        background: var(--color-b);
        padding-bottom: 40vw;
    }
    .color-2{
        color: black;
    }
    





    .color-1{
        background: #000000;
        width: 100vw;
        max-height: fit-content;
        gap: 0px;
        opacity: 0px;
        margin-left: -10vw;
        padding-bottom: 28vw;
    }
    .box{
        width: 1288px;
        height: 750px;
        margin-top: 124px;
        margin-left: 130px;
        gap: 0px;
        opacity: 0px;
    }
    .h-2{
        width: 200px;
        height: 24px;
        margin-left: -5vw;
        margin-top: -5vw;
        font-size: 20px;
        font-weight: 500;
    }
    
    .h-1{
        width: 300px;
        height: 130px;
        margin-top: 5vw;
        margin-left: -15vw;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.5;
    }
    .pro-box{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 5vw;
        margin-left: -2vw;
    }
    .post{
        width: 300px;
        height: 450px;
        margin-left: -12vw;
        gap: 0px;
        opacity: 0px;
        font-family: ui-sans-serif;
        gap: 0px;
        opacity: 0px;
        font-family: ui-sans-serif;
    }
    .post-img{
        width: 300px;
        height: 300px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
    }
    .h-3{
        width: 300px;
        height: 26px;
        margin-left: 8.33px;
        margin-top: 10px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: #FFFFFF;
    }
    .post-p{
        width: 280px;
        height: 100px;
        margin-left: 8.33px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: left;
        color: #A2A2A2;
    }.box-2{
        width: 400px;
        height: 570px;
        margin-top: 50px;
        display: grid;
        margin-left: -20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .box-3{
        width: 280px;
        height: 275px;
        margin-left: -5vw;
    }
    .h-1{
        width: 235px;
        height: 15px;
        margin-top: 1vw;
        margin-left: -4vw;
        font-size: 15px;
        font-weight: 400;
        line-height: 5;
    }
    .h-2{
        width: 100px;
        height: 14px;
        margin-left: 30px;
        opacity: 0px;
        font-size: 10px;
        font-weight: 200;
        text-align: center;
        color: #2D9352;
        margin-top: -100px;
    }
    .agenty_1{
        width: 180px;
        height: 28px;
        border-bottom: 2px solid #2D9352;
        margin-left: 25px;
    
    }
    .agen-1{
        margin-top: 8px;
        color: #FFFFFF;
    }
    .agn_1{
        margin-top: 20px;
        margin-left: 25px;
        color: #FFFFFF;
    }
    .p-p{
        color: #A2A2A2;
        font-size: 9px;
        width: 255px;
        margin-left: 20px;
    }
    .p-p1{
        margin-left: 25px;
        color: #2D9352;
        font-size: 10px;
    }
    .hr-1{
        margin-top: 20px;
        background-color: #A2A2A2;
        width: 240px;
        height: 4px;
        margin-left: 25px;
    }
    .gr-1{
        width: 180px;
        height: 4px;
        background-color:#2D9352;
    }


    .cont-h{
        margin-top: 50px;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 200px;
        color: white;
    }
    .cont-input{
        width: 34.3vw;
        height: 3vw;
        margin-top: 10.8vh;
        margin-left: 1vw;
        border-radius: 5px;
        border: 1px solid var(--color-d);
        background: none;
        color: var(--color-f);
    }
    .cont-input-1{
        width: 34.3vw;
        height: 3vw;
        margin-top: 10.8vh;
        border-radius: 5px;
        border: 1px solid var(--color-d);
        background: none;
        color: var(--color-f);
    }
    .cont-input-2{
        width: 70vw;
        height: 3vw;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid var(--color-d);
        background: none;
        color: var(--color-f);
    }
    .cont-text{
        width: 70vw;
        height: 10vw;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #1A1A1A;
        background: none;
        color: var(--color-f);
    }
    .cont-btn{
        width: 85px;
        height: 30px;
        margin-top: 80px;
        margin-left: 120px;
        border-radius: 5px;
        background: #2D9352;
        cursor: pointer;
        transition: filter 0.3s ease 0.3s;
    }
    .cont-btn:hover{
        background: none;
        border: 2px solid #2D9352;
        color: #2D9352;
    }
    .cont-copy{
        width: 70vw;
        margin-top: 120px;
        border-top: 1px solid #1A1A1A; 
        margin-left: 10vw;
        width: 300px;
    }
    .cont-copy-p{
        display: none;
    }

    .cont-form{
        width: 70vw;
        height: 30vw;
        margin-top: 6vw;
        margin-left: 15vw;
        border-radius: 5px;
    }
    .color-1{
        width: 110vw;
    }

}